@font-face {
  font-family: 'Oxanium';
  src: url('./fonts/Oxanium-Regular.ttf') format('truetype');
  src: url('./fonts/Oxanium-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Noto Sans JP';
  src: url('./fonts/NotoSansJP-Light.ttf') format('truetype');
  src: url('./fonts/NotoSansJP-Black.ttf') format('truetype');

}

@font-face{
  font-family: 'Kaisei Decol';
  src: url('./fonts/KaiseiDecol-Bold.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: Oxanium!important;
}
